@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-custom {
  @apply bg-cover bg-center;
  background-image: url('https://pb-desafio3.s3.us-east-2.amazonaws.com/hero.jpg');
}

.bg-custom2 {
  @apply bg-cover bg-center;
  background-image: url('https://pb-desafio3.s3.us-east-2.amazonaws.com/header.png');
}

.bg-custom3 {
  @apply bg-cover bg-center;
  background-image: url('https://pb-desafio3.s3.us-east-2.amazonaws.com/error.jpg');
}